<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "https://scontent-sea1-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1525582_10150353365024981_295553537_n.jpg?oh=f26e9b95be6a2cb75879b2ad29d315b6&oe=56C07DC1" %>
	</div>

	<div id="content">
		<h1>About Ben Wong</h1>
		<h2>Technology</h2>
		I found my passion in the beauty of design, engineering and entrepreneurship in coding and completed the coding bootcamp, <a href="http://www.codingdojo.com/">Coding Dojo</a>, based in San Francisco in October 2015. 

		In the program, I learned the basics in web development (HTML, CSS, jQuery, and MySQL), the LAMP stack (PHP & CodeIgniter), the MEAN stack (Javascript & Angular), and Rails. My favourite stack is Rails (Ruby on Rails). I have built replicas of prominent websites in the following: 
		
			<ul class="list-group">
				<li class="list-group-item">Facebook - the world's largest social media site</li>
				<li class="list-group-item">Reddit - a news discussion site</li>
				<li class="list-group-item">Wikipedia - a crowdsourced encyclopedia</li>
				<li class="list-group-item">Pinterest - an image collection site</li>
				<li class="list-group-item">IMDB - a movie site </li>
			</ul>

		Please visit my <a href="https://github.com/bwong199">Github</a> to see my codes and let me know how I can improve as a programmer. 	

		<br>
		<br>

		I am fascinated with the performance of many Javascript technologies such as Node, Angular, Ember, Sockets and continue to learn through tutorials in these technologies post-boot camp. 

		I am also began studying Android development through <a href="https://www.udacity.com/course/android-developer-nanodegree--nd801">Udacity</a> in November 2015 and aim to finish the Nanodegree program by April 2016. 


		<strong><h2>Finance </h2></strong>
		I worked as an accounting and finance professional with equity research experience in the Canadian and International energy sector. I graduated from the British Columbia Institute of Technology (BCIT) with a degree in accounting, and have completed all the exams for the <a href="https://en.wikipedia.org/wiki/Chartered_Financial_Analyst">CFA (Chartered Financial Analyst)</a>, <a href="https://www.cpacanada.ca/">CGA-CPA (Certified General Accountants-Chartered Professional Accountants)</a>, and <a href="http://www.fpsc.ca/">CFP (Certified Financial Planner)</a> programs.

I like stocks and investing and follow the market closely. Sectors I follow include upstream/midstream/downstream energy, retail, real estate, banking & insurance, utilities, telecommunications and technology. I abscribe to Benjamin Graham's style of value investing and Nassim Nicholas Taleb's style of Black-Swan event investing.

<strong><h2>Hobbies</h2></strong>
When my attention is away from business, finance and technology, I enjoy keeping up with my four languages (French, Mandarin, Cantonese, English) using the Duolingo app and watching foreign films. 
<br>
<br>
I also teach coding on Saturday in a program called <a href="http://calgarylibrary.ca/coder-dojo/">Coder Dojo</a> to a group of 15 children between the ages of 9 - 17 in the Calgary Public Library. 
<br>
<br>
I trained with a retired fitness model and trained myself to a competition level as defined by body-fat percentage, adonis ratio (shoulders-to-waist ratio), and fat-free-mass-index (an index that improves on the popular BMI to account for muscle mass). I am doing some freelance training on the side and hope to expand it when I am done my coding studies. 
	</div>
</div>