<h1>New Post</h1>

<form action="/posts" method="post">
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<label for="post[title]">Title</label>
	<br>
	<input type="text" name="post[title]">
	<br>
	<br>
	<label for='post[body]'>Body</label>
	<br>
	<textarea name="post[body]"></textarea>
	<br>
	<input type="submit" value"post">
</form>